{
  "openapi": "3.0.1",
  "info": {
    "title": "Ape.Volo Api 文档    .NET 8.0.1",
    "description": "Build: 2025-05-03 17:29:50  | User: xianhc",
    "contact": {
      "name": "xianhc",
      "url": "http://doc.apevolo.com",
      "email": "apevolo@gamil.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.apevolo.com"
    }
  ],
  "paths": {
    "/api/apis/create": {
      "post": {
        "tags": [
          "Apis"
        ],
        "summary": "新增Api (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateApisDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateApisDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateApisDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateApisDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/apis/edit": {
      "put": {
        "tags": [
          "Apis"
        ],
        "summary": "更新Api (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateApisDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateApisDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateApisDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateApisDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/apis/delete": {
      "delete": {
        "tags": [
          "Apis"
        ],
        "summary": "删除Api (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/apis/query": {
      "get": {
        "tags": [
          "Apis"
        ],
        "summary": "查看Apis列表 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "Group",
            "in": "query",
            "description": "组名称",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Description",
            "in": "query",
            "description": "描述",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Method",
            "in": "query",
            "description": "请求方法",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "当前页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "每页行数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortFields",
            "in": "query",
            "description": "排序列",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "TotalElements",
            "in": "query",
            "description": "总条数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TotalPages",
            "in": "query",
            "description": "总页数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Permission.ApisVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Permission.ApisVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Permission.ApisVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/apis/refresh": {
      "post": {
        "tags": [
          "Apis"
        ],
        "summary": "刷新Api列表 只实现了新增的api添加 (Auth policies: Permission)",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/appSecret/create": {
      "post": {
        "tags": [
          "AppSecret"
        ],
        "summary": "新增应用密钥 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.CreateUpdateAppSecretDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.CreateUpdateAppSecretDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.CreateUpdateAppSecretDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.CreateUpdateAppSecretDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/appSecret/edit": {
      "put": {
        "tags": [
          "AppSecret"
        ],
        "summary": "更新应用密钥 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.CreateUpdateAppSecretDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.CreateUpdateAppSecretDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.CreateUpdateAppSecretDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.CreateUpdateAppSecretDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/appSecret/delete": {
      "delete": {
        "tags": [
          "AppSecret"
        ],
        "summary": "删除应用密钥 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/appSecret/query": {
      "get": {
        "tags": [
          "AppSecret"
        ],
        "summary": "获取应用密钥列表 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "KeyWords",
            "in": "query",
            "description": "关键字",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CreateTime",
            "in": "query",
            "description": "开始[0]--结束[1]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "当前页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "每页行数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortFields",
            "in": "query",
            "description": "排序列",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "TotalElements",
            "in": "query",
            "description": "总条数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TotalPages",
            "in": "query",
            "description": "总页数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.System.AppSecretVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.System.AppSecretVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.System.AppSecretVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/appSecret/download": {
      "get": {
        "tags": [
          "AppSecret"
        ],
        "summary": "导出应用密钥 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "KeyWords",
            "in": "query",
            "description": "关键字",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CreateTime",
            "in": "query",
            "description": "开始[0]--结束[1]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/auditing/query": {
      "get": {
        "tags": [
          "Auditing"
        ],
        "summary": "审计列表 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "KeyWords",
            "in": "query",
            "description": "关键字",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CreateTime",
            "in": "query",
            "description": "开始[0]--结束[1]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "当前页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "每页行数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortFields",
            "in": "query",
            "description": "排序列",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "TotalElements",
            "in": "query",
            "description": "总条数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TotalPages",
            "in": "query",
            "description": "总页数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Monitor.AuditLogVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Monitor.AuditLogVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Monitor.AuditLogVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/auditing/current": {
      "get": {
        "tags": [
          "Auditing"
        ],
        "summary": "当前用户行为 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "PageIndex",
            "in": "query",
            "description": "当前页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "每页行数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortFields",
            "in": "query",
            "description": "排序列",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "TotalElements",
            "in": "query",
            "description": "总条数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TotalPages",
            "in": "query",
            "description": "总页数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Monitor.AuditLogVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Monitor.AuditLogVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Monitor.AuditLogVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/auth/captcha": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "获取验证码",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.ViewModel.Jwt.CaptchaVo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.ViewModel.Jwt.CaptchaVo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.ViewModel.Jwt.CaptchaVo"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "用户登录",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Login.LoginAuthUser"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Login.LoginAuthUser"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Login.LoginAuthUser"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Login.LoginAuthUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.ViewModel.Jwt.LoginResultVo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.ViewModel.Jwt.LoginResultVo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.ViewModel.Jwt.LoginResultVo"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refreshToken": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "刷新Token",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.ViewModel.Jwt.TokenVo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.ViewModel.Jwt.TokenVo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.ViewModel.Jwt.TokenVo"
                }
              }
            }
          }
        }
      }
    },
    "/auth/info": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": " (Auth policies: Permission)",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.ViewModel.Jwt.JwtUserVo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.ViewModel.Jwt.JwtUserVo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.ViewModel.Jwt.JwtUserVo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/auth/code/reset/email": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "获取验证码，申请变更邮箱 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/auth/logout": {
      "delete": {
        "tags": [
          "Authorization"
        ],
        "summary": "系统用户登出",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          }
        }
      }
    },
    "/auth/swagger/login": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "swagger登录",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Login.SwaggerLoginAuthUser"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Login.SwaggerLoginAuthUser"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Login.SwaggerLoginAuthUser"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Login.SwaggerLoginAuthUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          }
        }
      }
    },
    "/api/dept/create": {
      "post": {
        "tags": [
          "Dept"
        ],
        "summary": "新增部门 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateDepartmentDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateDepartmentDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateDepartmentDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateDepartmentDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dept/edit": {
      "put": {
        "tags": [
          "Dept"
        ],
        "summary": "更新部门 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateDepartmentDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateDepartmentDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateDepartmentDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Permission.CreateUpdateDepartmentDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dept/delete": {
      "delete": {
        "tags": [
          "Dept"
        ],
        "summary": "删除部门 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dept/query": {
      "get": {
        "tags": [
          "Dept"
        ],
        "summary": "查看部门列表 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "Name",
            "in": "query",
            "description": "部门名称",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Enabled",
            "in": "query",
            "description": "是否启用",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ParentId",
            "in": "query",
            "description": "父级ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "CreateTime",
            "in": "query",
            "description": "开始[0]--结束[1]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "当前页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "每页行数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortFields",
            "in": "query",
            "description": "排序列",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "TotalElements",
            "in": "query",
            "description": "总条数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TotalPages",
            "in": "query",
            "description": "总页数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Permission.Department.DepartmentVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Permission.Department.DepartmentVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Permission.Department.DepartmentVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dept/queryTree": {
      "get": {
        "tags": [
          "Dept"
        ],
        "summary": " (Auth policies: Permission)",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ape.Volo.ViewModel.Core.Permission.Department.DepartmentVo"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ape.Volo.ViewModel.Core.Permission.Department.DepartmentVo"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ape.Volo.ViewModel.Core.Permission.Department.DepartmentVo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dept/download": {
      "get": {
        "tags": [
          "Dept"
        ],
        "summary": "导出部门 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "Name",
            "in": "query",
            "description": "部门名称",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Enabled",
            "in": "query",
            "description": "是否启用",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ParentId",
            "in": "query",
            "description": "父级ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "CreateTime",
            "in": "query",
            "description": "开始[0]--结束[1]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dept/superior": {
      "get": {
        "tags": [
          "Dept"
        ],
        "summary": "获取同级与父级部门 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ape.Volo.ViewModel.Core.Permission.Department.DepartmentVo"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ape.Volo.ViewModel.Core.Permission.Department.DepartmentVo"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ape.Volo.ViewModel.Core.Permission.Department.DepartmentVo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dict/create": {
      "post": {
        "tags": [
          "Dict"
        ],
        "summary": "新增字典 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dict/edit": {
      "put": {
        "tags": [
          "Dict"
        ],
        "summary": "更新字典 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dict/delete": {
      "delete": {
        "tags": [
          "Dict"
        ],
        "summary": "删除字典 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dict/query": {
      "get": {
        "tags": [
          "Dict"
        ],
        "summary": "查看字典列表 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "KeyWords",
            "in": "query",
            "description": "关键字",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DictType",
            "in": "query",
            "description": "类型",
            "schema": {
              "$ref": "#/components/schemas/Ape.Volo.Common.Enums.DictType"
            }
          },
          {
            "name": "CreateTime",
            "in": "query",
            "description": "开始[0]--结束[1]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "当前页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "每页行数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortFields",
            "in": "query",
            "description": "排序列",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "TotalElements",
            "in": "query",
            "description": "总条数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TotalPages",
            "in": "query",
            "description": "总页数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.System.Dict.DictVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.System.Dict.DictVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.System.Dict.DictVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dict/download": {
      "get": {
        "tags": [
          "Dict"
        ],
        "summary": "导出字典 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "KeyWords",
            "in": "query",
            "description": "关键字",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DictType",
            "in": "query",
            "description": "类型",
            "schema": {
              "$ref": "#/components/schemas/Ape.Volo.Common.Enums.DictType"
            }
          },
          {
            "name": "CreateTime",
            "in": "query",
            "description": "开始[0]--结束[1]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dictDetail/create": {
      "post": {
        "tags": [
          "DictDetail"
        ],
        "summary": "新增字典详情 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDetailDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDetailDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDetailDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDetailDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dictDetail/edit": {
      "put": {
        "tags": [
          "DictDetail"
        ],
        "summary": "更新字典详情 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDetailDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDetailDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDetailDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.System.Dict.CreateUpdateDictDetailDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dictDetail/delete": {
      "delete": {
        "tags": [
          "DictDetail"
        ],
        "summary": "删除字典详情 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/dictDetail/query": {
      "get": {
        "tags": [
          "DictDetail"
        ],
        "summary": "查看字典详情列表 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "DictId",
            "in": "query",
            "description": "字典ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "DictName",
            "in": "query",
            "description": "字典ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Label",
            "in": "query",
            "description": "标题",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "当前页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "每页行数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortFields",
            "in": "query",
            "description": "排序列",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "TotalElements",
            "in": "query",
            "description": "总条数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TotalPages",
            "in": "query",
            "description": "总页数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.System.Dict.DictDetailVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.System.Dict.DictDetailVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.System.Dict.DictDetailVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/email/account/create": {
      "post": {
        "tags": [
          "EmailAccount"
        ],
        "summary": "新增邮箱账户 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailAccountDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailAccountDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailAccountDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailAccountDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/email/account/edit": {
      "put": {
        "tags": [
          "EmailAccount"
        ],
        "summary": "更新邮箱账户 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailAccountDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailAccountDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailAccountDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailAccountDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/email/account/delete": {
      "delete": {
        "tags": [
          "EmailAccount"
        ],
        "summary": "删除邮箱账户 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/email/account/query": {
      "get": {
        "tags": [
          "EmailAccount"
        ],
        "summary": "邮箱账户列表 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "Email",
            "in": "query",
            "description": "邮箱",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DisplayName",
            "in": "query",
            "description": "显示名称",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Username",
            "in": "query",
            "description": "用户名",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CreateTime",
            "in": "query",
            "description": "开始[0]--结束[1]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "当前页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "每页行数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortFields",
            "in": "query",
            "description": "排序列",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "TotalElements",
            "in": "query",
            "description": "总条数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TotalPages",
            "in": "query",
            "description": "总页数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Message.Email.EmailAccountVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Message.Email.EmailAccountVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Message.Email.EmailAccountVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/email/account/download": {
      "get": {
        "tags": [
          "EmailAccount"
        ],
        "summary": "导出邮箱账户 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "Email",
            "in": "query",
            "description": "邮箱",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DisplayName",
            "in": "query",
            "description": "显示名称",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Username",
            "in": "query",
            "description": "用户名",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CreateTime",
            "in": "query",
            "description": "开始[0]--结束[1]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/email/template/create": {
      "post": {
        "tags": [
          "EmailMessageTemplate"
        ],
        "summary": "新增邮箱账户 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailMessageTemplateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailMessageTemplateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailMessageTemplateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailMessageTemplateDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/email/template/edit": {
      "put": {
        "tags": [
          "EmailMessageTemplate"
        ],
        "summary": "更新邮箱账户 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailMessageTemplateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailMessageTemplateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailMessageTemplateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Dto.Core.Message.Email.CreateUpdateEmailMessageTemplateDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/email/template/delete": {
      "delete": {
        "tags": [
          "EmailMessageTemplate"
        ],
        "summary": "删除邮箱账户 (Auth policies: Permission)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ape.Volo.SharedModel.Queries.Common.IdCollection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/email/template/query": {
      "get": {
        "tags": [
          "EmailMessageTemplate"
        ],
        "summary": "邮箱账户列表 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "Name",
            "in": "query",
            "description": "名称",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsActive",
            "in": "query",
            "description": "是否激活",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CreateTime",
            "in": "query",
            "description": "开始[0]--结束[1]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "当前页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "每页行数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortFields",
            "in": "query",
            "description": "排序列",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "TotalElements",
            "in": "query",
            "description": "总条数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TotalPages",
            "in": "query",
            "description": "总页数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Message.Email.EmailMessageTemplateVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Message.Email.EmailMessageTemplateVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Message.Email.EmailMessageTemplateVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/exception/query": {
      "get": {
        "tags": [
          "ExceptionLog"
        ],
        "summary": "查看异常日志列表 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "KeyWords",
            "in": "query",
            "description": "关键字",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CreateTime",
            "in": "query",
            "description": "开始[0]--结束[1]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "当前页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "每页行数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortFields",
            "in": "query",
            "description": "排序列",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "TotalElements",
            "in": "query",
            "description": "总条数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TotalPages",
            "in": "query",
            "description": "总页数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Monitor.ExceptionLogVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Monitor.ExceptionLogVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ape.Volo.Common.Model.ActionResultVm`1[[System.Collections.Generic.List`1[[Ape.Volo.ViewModel.Core.Monitor.ExceptionLogVo, Ape.Volo.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      }
    },
    "/api/storage/upload": {
      "post": {
        "tags": [
          "FileRecord"
        ],
        "summary": "新增文件 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "Description",
            "in": "query",
            "description": "描述 Sys.Description",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ContentType",
            "in": "query",
            "description": "文件类型",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ContentTypeName",
            "in": "query",
            "description": "文件类型名称",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ContentTypeNameEn",
            "in": "query",
            "description": "文件类型名称(EN)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OriginalName",
            "in": "query",
            "description": "源名称",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NewName",
            "in": "query",
            "description": "新名称",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FilePath",
            "in": "query",
            "description": "存储路径",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Size",
            "in": "query",
            "description": "文件大小",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "CreateBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CreateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdateBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UpdateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "IsDeleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "ContentType": {
                    "type": "string"
                  },
                  "ContentDisposition": {
                    "type": "string"
                  },
                  "Headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "Length": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "Name": {
                    "type": "string"
                  },
                  "FileName": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "ContentType": {
                  "style": "form"
                },
                "ContentDisposition": {
                  "style": "form"
                },
                "Headers": {
                  "style": "form"
                },
                "Length": {
                  "style": "form"
                },
                "Name": {
                  "style": "form"
                },
                "FileName": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "Permission"
            ]
          }
        ]
      },
      "options": {
        "tags": [
          "FileRecord"
        ],
        "summary": "新增文件 (Auth policies: Permission)",
        "parameters": [
          {
            "name": "Description",
            "in": "query",
            "description": "描述 Sys.Description",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
[...]
